{{! The title will pull the vaule from each app.get and populate the h1 element}}
<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>